# ==============================
# ConfigMap & Secret
# ==============================
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: clarence
data:
  greeting: "Hi I am Clarence, welcome to my platform!"
spec:
  template:
    spec:
      containers:
        - image: docker.io/clarencesns/lab03-frontend:d80ce08-11
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-volume-config
  namespace: clarence
data:
  volume.txt: |
    Hello from ConfigMap!
    This file is mounted into the backend pod.
    You can edit this content in the Config
spec:
  template:
    spec:
      containers:
        - image: docker.io/clarencesns/lab03-frontend:d80ce08-11
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: clarence
type: Opaque
stringData:
  password: "supersecretpassword"
spec:
  template:
    spec:
      containers:
        - image: docker.io/clarencesns/lab03-frontend:d80ce08-11
# ==============================
# Backend Deployment + Service
# ==============================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: clarence
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: docker.io/clarencesns/lab03-frontend:d80ce08-11
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: SECRET_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: password
          volumeMounts:
            - name: volume-file
              mountPath: /app/volume
            - name: pvc-storage
              mountPath: /app/pvc # 挂载 PVC 到 /app/pvc 目录
      volumes:
        - name: volume-file
          configMap:
            name: backend-volume-config
            items:
              - key: volume.txt
                path: volume.txt
        - name: pvc-storage
          persistentVolumeClaim:
            claimName: backend-pvc # 使用我们创建的 PVC
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: clarence
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
  template:
    spec:
      containers:
        - image: docker.io/clarencesns/lab03-frontend:d80ce08-11
# ==============================
# Frontend Deployment + Service
# ==============================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: clarence
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: docker.io/clarencesns/lab03-frontend:d80ce08-11
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          env:
            - name: BACKEND_URL
              value: "http://backend-service:3000" # ✅ 使用 Service 名稱取代硬編碼 URL
              #value: "http://clarence-backend.platform88.me"
            - name: GREETING_TEXT
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: greeting
          readinessProbe:
            httpGet:
              path: "/"
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: "/"
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: clarence
spec:
  selector:
    app: frontend
  ports:
    - port: 3001
      targetPort: 3001
  type: ClusterIP
  template:
    spec:
      containers:
        - image: docker.io/clarencesns/lab03-frontend:d80ce08-11
